<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Credit</title>
</head>

<body>
	<h1>Ressources utilisées</h1>
	<h2>Entité</h2>
	<b>Toutes les ressources de cette catégories qui suivent on été produite par moi (fjdhj):</b>
	<h3>PacMan</h3>
	<p>Pas encore dessiner !</p>
	
	<h3>Les fantomes</h3>
	<ul>
	<li>Blinky, le fantôme rouge</li>
	<li>Pinky, le fantôme rose</li>
	<li>Inky, le fantôme bleu</li>
	<li>Clyde, le fantôme orange</li>
	</ul>

	<h2>Bandes Sons</h2>
	<h3>PacMan Theme Remix</h3>
	<ul><li>Auteur : arsenic1987</li>
	<li>Source : <button onclick='app.openInBrowser("https://www.youtube.com/watch?v=qtZ0hl-unM4");'>YouTube</button></li>
	<li>Chaine YouTube du réalisateur : <button onclick='app.openInBrowser("https://www.youtube.com/channel/UCO1udqSxW9-jX0lOrPI7xtA");'>YouTube</button></li>
	</ul>
 
	
</body>
</html>